<!-- index.html -->
<html ng-app="whatIfCSH">
<head>
    <title>What if CSH?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/members.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src='//code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div class='container'>
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">What if CSH</a>
                </div>
            </div>
        </nav>
    </div>
    <div id='main' class='container' ng-controller="WhatIfController as whatIf">
        <div class="alert alert-danger" ng-hide='error == null' role="alert">
            <strong>Whoops! </strong>{{error}}
        </div>
        <div class="row suggestion-input">
            <div class="col-md-3">
                <h2 class='title'>What if CSH...</h2>
            </div>
            <div class="col-md-9">
                <form ng-submit='submit()'>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">{{description.length}}/140</span>
                        <input type="text" class="form-control" maxlength='140' placeholder="...provided ways for members to suggest things to eboard." ng-model="description">
                        <span class="input-group-btn">
                            <button id="add-button" class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class='row'>
            <div class='wordwrap col-md-4 col-s-6 col-xs-12' ng-repeat='suggestion in suggestions.slice().reverse()'>
                <div class='suggestion-content'>
                    <div class='remove'>
                        <button class='remove-button'><span class='glyphicon glyphicon-remove'><span></button>
                    </div>
                    <span class='whatif-title'>What if CSH...</span>{{suggestion.description}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
