body {
    background-color: #eee;
    background-image: url('../img/background.png');
    background-attachment: fixed;
}

#main {
    margin-top: 80px;
}

.suggestion-input {
    height: 70px;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
}

#add-button {
    width: 50px;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   height: 300px;
   width: 300px;
   background-color: #66206c;
   color: #fff;
   font-size: 24px;
   margin-right: 20px;
   margin-bottom: 20px;
}
