body {
    background-color: #eee;
    background-image: url('../img/background.png');
    background-attachment: fixed;
}

.suggestion-input {
    margin-bottom: 10px;
}

#main {
    margin-top: 110px;
}

.title {
    margin: 0;
}

.whatif-title {
    color: rgba(255, 255, 255, 0.4);
}

#add-button {
    width: 50px;
}

.wordwrap {
   word-wrap: break-word;
   padding: 0px;
}

.remove {
    position: relative;
    float: right;
    top: 0px;
    right: -10px;
    font-size: 16;
}

.remove-button {
    background: transparent;
    border: none;
    outline: 0;
    color: rgba(255, 255, 255, 0.6)
}

.remove-button:hover {
    color: #fff;
   transition: color .1s ease-in;
   -webkit-transition: color .1s ease-in;
}

.suggestion-content {
   font-size: 24px;
   background: rgba(121, 41, 148, 0.8);
   color: #fff;
   height: 300px;
   margin: 10px;
   padding: 15px 25px;
   border-radius: 4px;
   transition: background .1s ease-in;
   -webkit-transition: background .1s ease-in;
}

.suggestion-content:hover {
    background: rgba(121, 41, 148, 1.0);
    
}

#whatif-title {
    color: #ccc;
    vertical-align: top;
    font-size: 30;
    font-style: italic;
}

.time {
    font-size: 12;
    color: rgba(255, 255, 255, 0.7);
}

#no-suggestions {
    color: #888;
    text-align: center;
    margin: 100px 0px;
}

@media (max-width: 991px) {
    .title {
        margin-bottom: 30px;
        text-align: center;
        font-size: 48;
    }
    .suggestion-content {
        height: auto;
    }
}
